<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loader_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,64}</string>
                <key>spriteSourceSize</key>
                <string>{512,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loader_high_filler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,32}</string>
                <key>textureRect</key>
                <string>{{0,64},{512,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loader.png</string>
            <key>size</key>
            <string>{512,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62431d4dddb752d41c6357f5495a956b:77bd4ec48b3b181520975e21cef9845e:1ce9631b1c7838fb72cebacf6b3d2ed4$</string>
            <key>textureFileName</key>
            <string>loader.png</string>
        </dict>
    </dict>
</plist>
